Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*font:     xft:Monaco:size=9, xfg:FontAwesome:size=9, xft:Droid Sans Fallback:pixelsize=9:antialias=true
URxvt*boldFont:     xft:Monaco:bold:size=9, xfg:FontAwesome:size=9, xft:Droid Sans Fallback:pixelsize=9:Bold:antialias=true

!URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-*-50-*-*
!URxvt*boldFont: -benis-lemon-medium-r-normal--10-110-75-75-*-50-*-*

!URxvt*font: -*-tewii-medium-r-normal--11-*-*-*-*-*-*-*
!URxvt*boldFont: -*-tewii-medium-r-normal--11-*-*-*-*-*-*-*

URxvt.letterSpace: 0

URxvt.cursorBlink: 1

! Disable scrollbar
URxvt.scrollBar: false

! Set terminal padding
URxvt.internalBorder: 22

URxvt*.depth: 24

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,font-size
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

! Enables Ctrl + ArrowKeys
URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

! Colors {{{
! Set depth to make transparency work.
!URxvt*depth: 32
#include ".cache/wal/colors.Xresources"
! }}}
